<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>DeshHike</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>weixin</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>wx1d6a241d90da227c</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>alipay</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>macauhike</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>alipay</string>
			<string>wechat</string>
			<string>weixin</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSCalendarsUsageDescription</key>
		<string>需要您的同意访问日历，以查看日程</string>
		<key>NSCameraUsageDescription</key>
		<string>需要您的同意访问相机，用以设置头像、分享图片等功能</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>需要访问位置信息，以定位你的城市</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>需要访问位置信息，以定位你的城市</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>需要访问位置信息，以定位你的城市</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>需要您的同意访问麦克风，用以语音聊天等功能</string>
		<key>NSMotionUsageDescription</key>
		<string>需要您的同意访问动作，以使用运动健康等功能</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>A需要您的同意,才能保存图片到您的相册</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>需要您的同意访问相册，用以设置头像、分享图片等功能</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>需要您的同意访问语音，用以语音聊天等功能</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
